<div id="content-mid" class="col">
  <div class="box box-med" id="box-text-img">
  
	<h2 class="noticias-pt"></h2>
		<div class="mid">	
		<div class="text">
			<div class="img">
			  			  
	  		  <img alt="Spa-a-cmyk" src="/assets_live/framings/178/spa-a-cmyk.jpg?1276594972" />	  		  <p class="img-desc"></p>
			  			</div>
		  
		    		      <h3>Mais de duas centenas de autores e artistas exigem nova lei da Cópia Privada</h3>
		    		   
		    <p></p>
		    		    <p >(Abaixo-Assinado em aberto)<br />
<br />
Considerando que a Lei da Cópia Privada ainda em vigor está desajustada da realidade com graves prejuízos para os titulares de direitos, os autores e editores abaixo-assinados exigem uma rápida revisão da referida Lei que contemple remunerações sobre os suportes, aparelhos e dispositivos de armazenamento digitais que são actualmente, ou venham a ser no futuro, utilizados para a cópia privada das obras protegidas.<br />
&#160; <br />
<br />
&#160; <br />
Abel Neves&#160;&#160;&#160; &#160;&#160; <br />
Adolfo Morais de Macedo&#160;&#160;&#160; &#160;&#160; <br />
Adriana Duarte&#160;&#160;&#160; &#160;&#160; <br />
Aldina Duarte&#160;&#160;&#160; &#160;&#160; <br />
Alex Santos&#160;&#160;&#160; &#160;&#160; <br />
Álvaro Faria&#160;&#160;&#160; &#160;&#160; <br />
Álvaro Magalhães&#160;&#160;&#160; &#160;&#160; <br />
Álvaro Salazar&#160;&#160;&#160; &#160;&#160; <br />
Amélia Muge&#160;&#160;&#160; &#160;&#160; <br />
Ana Zanatti&#160;&#160;&#160; &#160;&#160; <br />
Anamar&#160;&#160;&#160; &#160;&#160; <br />
André Letria&#160;&#160;&#160; &#160;&#160; <br />
André Miguel Lopes Santos&#160;&#160;&#160; &#160;&#160; <br />
André Sardet&#160;&#160;&#160; &#160;&#160; <br />
Antonino Solmer&#160;&#160;&#160; &#160;&#160; <br />
António&#160; Valdemar&#160;&#160;&#160; &#160;&#160; <br />
António Avelar Pinho&#160;&#160;&#160; &#160;&#160; <br />
António Casimiro&#160;&#160;&#160; &#160;&#160; <br />
António Côrte-Real&#160;&#160;&#160; &#160;&#160; <br />
António Damião&#160;&#160;&#160; &#160;&#160; <br />
António de Macedo&#160;&#160;&#160; &#160;&#160; <br />
António Homem Cardoso&#160;&#160;&#160; &#160;&#160; <br />
António Manuel Ribeiro&#160;&#160;&#160; &#160;&#160; <br />
António Martins Sobral&#160;&#160;&#160; &#160;&#160; <br />
António Melo&#160;&#160;&#160; &#160;&#160; <br />
António Moreira Alvarinho&#160;&#160;&#160; &#160;&#160; <br />
António Pedro Vasconcelos&#160;&#160;&#160; &#160;&#160; <br />
António Rebordão Navarro&#160;&#160;&#160; &#160;&#160; <br />
António Sala&#160;&#160;&#160; &#160;&#160; <br />
António Torrado&#160;&#160;&#160; &#160;&#160; <br />
António Victorino d' Almeida&#160;&#160;&#160; &#160;&#160; <br />
Arsénio Mota&#160;&#160;&#160; &#160;&#160; <br />
Baptista-Bastos&#160;&#160;&#160; &#160;&#160; <br />
Benjamim Gonçalves Veludo&#160;&#160;&#160; &#160;&#160; <br />
Benjamim Monteiro&#160;&#160;&#160; &#160;&#160; <br />
Bruno Alexandre Saldanha da Silva&#160;&#160;&#160; &#160;&#160; <br />
Bruno Miguel Pereira Andrade&#160;&#160;&#160; &#160;&#160; <br />
Bruno Miguel Teixeira Correia&#160;&#160;&#160; &#160;&#160; <br />
Cândido Lima&#160;&#160;&#160; &#160;&#160; <br />
Carlos Alberto Moniz&#160;&#160;&#160; &#160;&#160; <br />
Carlos Bastos&#160;&#160;&#160; &#160;&#160; <br />
Carlos Jorge Español &#160;&#160;&#160; &#160;&#160; <br />
Carlos Mendonça&#160;&#160;&#160; &#160;&#160; <br />
Carlos Nobre&#160;&#160;&#160; &#160;&#160; <br />
Carlos Vidal&#160;&#160;&#160; &#160;&#160; <br />
Catarina Amaro&#160;&#160;&#160; &#160;&#160; <br />
Catarina Amaro&#160;&#160;&#160; &#160;&#160; <br />
Claudino de Jesus Borges Pereira&#160;&#160;&#160; &#160;&#160; <br />
Dani Silva&#160;&#160;&#160; &#160;&#160; <br />
David Poisson Alves&#160;&#160;&#160; &#160;&#160; <br />
E.M. de Melo e Castro &#160;&#160;&#160; &#160;&#160; <br />
Edgar Pereira Nogueira &#160;&#160;&#160; &#160;&#160; <br />
Edite Esteves&#160;&#160;&#160; &#160;&#160; <br />
Eduardo Olimpío Espada&#160;&#160;&#160; &#160;&#160; <br />
Emanuel&#160;&#160;&#160; &#160;&#160; <br />
Erica Amaro&#160;&#160;&#160; &#160;&#160; <br />
Ernesto Leite&#160;&#160;&#160; &#160;&#160; <br />
Eugénia Ávila Ramos&#160;&#160;&#160; &#160;&#160; <br />
Eugénia Bettencourt&#160;&#160;&#160; &#160;&#160; <br />
Eugénia Melo e Castro&#160;&#160;&#160; &#160;&#160; <br />
Eugénio José Pepe Costa&#160;&#160;&#160; &#160;&#160; <br />
Eugenio Lopes&#160;&#160;&#160; &#160;&#160; <br />
Fausto Bordalo Dias&#160;&#160;&#160; &#160;&#160; <br />
Fernanda Brito&#160;&#160;&#160; &#160;&#160; <br />
Fernando António&#160;&#160;&#160; &#160;&#160; <br />
Fernando António Almeida&#160;&#160;&#160; &#160;&#160; <br />
Fernando Ávila&#160;&#160;&#160; &#160;&#160; <br />
Fernando Bento Gomes&#160;&#160;&#160; &#160;&#160; <br />
Fernando Chaby&#160;&#160;&#160; &#160;&#160; <br />
Fernando Correia Marques&#160;&#160;&#160; &#160;&#160; <br />
Fernando Dacosta&#160;&#160;&#160; &#160;&#160; <br />
Fernando Filipe&#160;&#160;&#160; &#160;&#160; <br />
Fernando Girão &#160;&#160;&#160; &#160;&#160; <br />
Fernando Martins&#160;&#160;&#160; &#160;&#160; <br />
Fernando Tordo&#160;&#160;&#160; &#160;&#160; <br />
Filipe Andrade&#160;&#160;&#160; &#160;&#160; <br />
Filipe Gonçalves&#160;&#160;&#160; &#160;&#160; <br />
Francisco Conceição Oliveira Santos&#160;&#160;&#160; &#160;&#160; <br />
Gil do Carmo&#160;&#160;&#160; &#160;&#160; <br />
Gimba&#160;&#160;&#160; &#160;&#160; <br />
Gonçalo Salgueiro&#160;&#160;&#160; &#160;&#160; <br />
Guilherme Inês&#160;&#160;&#160; &#160;&#160; <br />
Guilherme Leite&#160;&#160;&#160; &#160;&#160; <br />
Helena Cardoso&#160;&#160;&#160; &#160;&#160; <br />
Herman José&#160;&#160;&#160; &#160;&#160; <br />
Inácio Ludgero&#160;&#160;&#160; &#160;&#160; <br />
Isabel Medina&#160;&#160;&#160; &#160;&#160; <br />
Jaime Gralheiro&#160;&#160;&#160; &#160;&#160; <br />
Janita Salomé&#160;&#160;&#160; &#160;&#160; <br />
João Cavadinhas&#160;&#160;&#160; &#160;&#160; <br />
João David Nunes&#160;&#160;&#160; &#160;&#160; <br />
João Gil&#160;&#160;&#160; &#160;&#160; <br />
João Lourenço&#160;&#160;&#160; &#160;&#160; <br />
João Manuel Alves Pereira da Silva&#160;&#160;&#160; &#160;&#160; <br />
João Manuel Moura do Carmo&#160;&#160;&#160; &#160;&#160; <br />
João Maria de Freitas-Branco&#160;&#160;&#160; &#160;&#160; <br />
João Matos Silva&#160;&#160;&#160; &#160;&#160; <br />
João Monge&#160;&#160;&#160; &#160;&#160; <br />
João Nuno Represas&#160;&#160;&#160; &#160;&#160; <br />
João Raul&#160;&#160;&#160; &#160;&#160; <br />
João Sam Payo&#160;&#160;&#160; &#160;&#160; <br />
Joaquim Caixeiro&#160;&#160;&#160; &#160;&#160; <br />
Joaquim Nascimento Costa Branco&#160;&#160;&#160; &#160;&#160; <br />
Jorge Castro Guedes&#160;&#160;&#160; &#160;&#160; <br />
Jorge Constante Pereira &#160;&#160;&#160; &#160;&#160; <br />
Jorge Costa Pinto&#160;&#160;&#160; &#160;&#160; <br />
Jorge Fernando&#160;&#160;&#160; &#160;&#160; <br />
Jorge Leitão Ramos&#160;&#160;&#160; &#160;&#160; <br />
Jorge Mendes&#160;&#160;&#160; &#160;&#160; <br />
Jorge Paixão da Costa&#160;&#160;&#160; &#160;&#160; <br />
Jorge Rivotti&#160;&#160;&#160; &#160;&#160; <br />
Jorge Salgueiro&#160;&#160;&#160; &#160;&#160; <br />
José Alves Crespim&#160;&#160;&#160; &#160;&#160; <br />
José Cabeleira&#160;&#160;&#160; &#160;&#160; <br />
José Castanheira&#160;&#160;&#160; &#160;&#160; <br />
José Cid&#160;&#160;&#160; &#160;&#160; <br />
José da Ponte&#160;&#160;&#160; &#160;&#160; <br />
José Duarte&#160;&#160;&#160; &#160;&#160; <br />
José Emanuel Furtado Cardoso Castanheira&#160;&#160;&#160; &#160;&#160; <br />
José Fanha&#160;&#160;&#160; &#160;&#160; <br />
José Fonseca e Costa &#160;&#160;&#160; &#160;&#160; <br />
José Jorge Letria&#160;&#160;&#160; &#160;&#160; <br />
José Júlio Lopes&#160;&#160;&#160; &#160;&#160; <br />
José Luís Dias&#160;&#160;&#160; &#160;&#160; <br />
José Luís Gordo Porfírio&#160;&#160;&#160; &#160;&#160; <br />
José&#160;Luís Refachinho Gordo &#160;&#160;&#160; &#160;&#160; <br />
José Manuel Afonso&#160;&#160;&#160; &#160;&#160; <br />
José Manuel Santos Rodrigues&#160;&#160;&#160; &#160;&#160; <br />
José Mário Branco&#160;&#160;&#160; &#160;&#160; <br />
José Mário Coelho&#160;&#160;&#160; &#160;&#160; <br />
José Moz Carrapa&#160;&#160;&#160; &#160;&#160; <br />
José Nuno Martins&#160;&#160;&#160; &#160;&#160; <br />
José Orlando Pereira &#160;&#160;&#160; &#160;&#160; <br />
José Peixoto&#160;&#160;&#160; &#160;&#160; <br />
José Viale Moutinho &#160;&#160;&#160; &#160;&#160; <br />
José Wallenstein &#160;&#160;&#160; &#160;&#160; <br />
Júlio Montenegro&#160;&#160;&#160; &#160;&#160; <br />
Laurent Filipe&#160;&#160;&#160; &#160;&#160; <br />
Lauro Portugal&#160;&#160;&#160; &#160;&#160; <br />
Leandro Vale&#160;&#160;&#160; &#160;&#160; <br />
Leonor Xavier&#160;&#160;&#160; &#160;&#160; <br />
Lídia Franco&#160;&#160;&#160; &#160;&#160; <br />
Lígia Teopisto&#160;&#160;&#160; &#160;&#160; <br />
Luis Aleluia&#160;&#160;&#160; &#160;&#160; <br />
Luis Alves Matos&#160;&#160;&#160; &#160;&#160; <br />
Luís Caracol&#160;&#160;&#160; &#160;&#160; <br />
Luis Carlos Moreira Cruz Oliveira&#160;&#160;&#160; &#160;&#160; <br />
Luís Filipe Costa&#160;&#160;&#160; &#160;&#160; <br />
Luís Filipe Nascimento&#160;&#160;&#160; &#160;&#160; <br />
Luís Oliveira&#160;&#160;&#160; &#160;&#160; <br />
Luís Pedro Fonseca&#160;&#160;&#160; &#160;&#160; <br />
Luís Represas&#160;&#160;&#160; &#160;&#160; <br />
Luís Salgueiro &#160;&#160;&#160; &#160;&#160; <br />
Luís Varatojo&#160;&#160;&#160; &#160;&#160; <br />
Luísa Ducla Soares&#160;&#160;&#160; &#160;&#160; <br />
Madalena Iglésias&#160;&#160;&#160; &#160;&#160; <br />
Mafalda Veiga&#160;&#160;&#160; &#160;&#160; <br />
Manuel Alegre&#160;&#160;&#160; &#160;&#160; <br />
Manuel Faria&#160;&#160;&#160; &#160;&#160; <br />
Manuel Freire&#160;&#160;&#160; &#160;&#160; <br />
Manuel Jorge Veloso&#160;&#160;&#160; &#160;&#160; <br />
Manuel Mata da Nazaré&#160;&#160;&#160; &#160;&#160; <br />
Manuel Paulo&#160;&#160;&#160; &#160;&#160; <br />
Manuela de Freitas&#160;&#160;&#160; &#160;&#160; <br />
Manuela de Moura Sá Teles Santos&#160;&#160;&#160; &#160;&#160; <br />
Márcia Lúcia Amaral Fernandes&#160;&#160;&#160; &#160;&#160; <br />
Marco Quelhas&#160;&#160;&#160; &#160;&#160; <br />
Margarida Fonseca Santos&#160;&#160;&#160; &#160;&#160; <br />
Maria Alberta Menéres&#160;&#160;&#160; &#160;&#160; <br />
Maria Alzira Seixo &#160;&#160;&#160; &#160;&#160; <br />
Maria de Lourdes de Carvalho&#160;&#160;&#160; &#160;&#160; <br />
Maria de Lourdes Martins Neves&#160;&#160;&#160; &#160;&#160; <br />
Maria do Amparo &#160;&#160;&#160; &#160;&#160; <br />
Maria Eduarda Colares&#160;&#160;&#160; &#160;&#160; <br />
Maria Gabriel&#160;&#160;&#160; &#160;&#160; <br />
Maria Luísa Crespo&#160;&#160;&#160; &#160;&#160; <br />
Maria Teresa Horta&#160;&#160;&#160; &#160;&#160; <br />
Mário Cabrita Gil&#160;&#160;&#160; &#160;&#160; <br />
Mário de Carvalho&#160;&#160;&#160; &#160;&#160; <br />
Mário de Figueiredo&#160;&#160;&#160; &#160;&#160; <br />
Mário Martins&#160;&#160;&#160; &#160;&#160; <br />
Mário Mata&#160;&#160;&#160; &#160;&#160; <br />
Mário Raínho&#160;&#160;&#160; &#160;&#160; <br />
Ménito Ramos&#160;&#160;&#160; &#160;&#160; <br />
Miguel Ferraz&#160;&#160;&#160; &#160;&#160; <br />
Miguel Guedes&#160;&#160;&#160; &#160;&#160; <br />
Miguel Majer&#160;&#160;&#160; &#160;&#160; <br />
Mike Sergeant&#160;&#160;&#160; &#160;&#160; <br />
Monique Rutler&#160;&#160;&#160; &#160;&#160; <br />
Nelson Rosado&#160;&#160;&#160; &#160;&#160; <br />
Norberto Ávila&#160;&#160;&#160; &#160;&#160; <br />
Nuno Gomes dos Santos&#160;&#160;&#160; &#160;&#160; <br />
Nuno Nazareth Fernandes&#160;&#160;&#160; &#160;&#160; <br />
Nuno Rafael Mota&#160;&#160;&#160; &#160;&#160; <br />
Nuno Vasco Crespo&#160;&#160;&#160; &#160;&#160; <br />
Paulo de Carvalho&#160;&#160;&#160; &#160;&#160; <br />
Paulo Roberto Cabral da Ponte Carvalho&#160;&#160;&#160; &#160;&#160; <br />
Paulo Sérgio Santos&#160;&#160;&#160; &#160;&#160; <br />
Pedro Abrunhosa&#160;&#160;&#160; &#160;&#160; <br />
Pedro Barbosa&#160;&#160;&#160; &#160;&#160; <br />
Pedro Brito&#160;&#160;&#160; &#160;&#160; <br />
Pedro Campos&#160;&#160;&#160; &#160;&#160; <br />
Pedro Delgado&#160;&#160;&#160; &#160;&#160; <br />
Pedro Duarte&#160;&#160;&#160; &#160;&#160; <br />
Pedro Henrique Correia de Brito&#160;&#160;&#160; &#160;&#160; <br />
Pedro Luís Neves&#160;&#160;&#160; &#160;&#160; <br />
Pedro Vaz&#160;&#160;&#160; &#160;&#160; <br />
Pedro Wallenstein&#160;&#160;&#160; &#160;&#160; <br />
Raúl Calado&#160;&#160;&#160; &#160;&#160; <br />
Renato Júnior&#160;&#160;&#160; &#160;&#160; <br />
Ricardo Azevedo&#160;&#160;&#160; &#160;&#160; <br />
Ricardo Costa&#160;&#160;&#160; &#160;&#160; <br />
Ricardo Ferreira &#160;&#160;&#160; &#160;&#160; <br />
Ricardo Jorge Monteiro Pinto Ferreira &#160;&#160;&#160; &#160;&#160; <br />
Ricardo Santos&#160;&#160;&#160; &#160;&#160; <br />
Roberto Santandreu Gonçalves&#160;&#160;&#160; &#160;&#160; <br />
Rodrigo Leão&#160;&#160;&#160; &#160;&#160; <br />
Roseta Caixinha&#160;&#160;&#160; &#160;&#160; <br />
Rotiv&#160;&#160;&#160; &#160;&#160; <br />
Ruben Alves&#160;&#160;&#160; &#160;&#160; <br />
Rui Araújo&#160;&#160;&#160; &#160;&#160; <br />
Rui Calças&#160;&#160;&#160; &#160;&#160; <br />
Rui Correia&#160;&#160;&#160; &#160;&#160; <br />
Rui Fernando Sá Silva&#160;&#160;&#160; &#160;&#160; <br />
Rui Fingers &#160;&#160;&#160; &#160;&#160; <br />
Rui Mendes&#160;&#160;&#160; &#160;&#160; <br />
Rui Vieira Nery&#160;&#160;&#160; &#160;&#160; <br />
Salvato Teles de Menezes&#160;&#160;&#160; &#160;&#160; <br />
Sérgio Godinho&#160;&#160;&#160; &#160;&#160; <br />
Sérgio Rosado&#160;&#160;&#160; &#160;&#160; <br />
Sofia Espírito Santo&#160;&#160;&#160; &#160;&#160; <br />
Susana Félix&#160;&#160;&#160; &#160;&#160; <br />
Teresa Madeira&#160;&#160;&#160; &#160;&#160; <br />
Teresa Rita Lopes&#160;&#160;&#160; &#160;&#160; <br />
Tiago Modesto Teixeira&#160;&#160;&#160; &#160;&#160; <br />
Tiago Torres da Silva&#160;&#160;&#160; &#160;&#160; <br />
Tó Maria Vinhas&#160;&#160;&#160; &#160;&#160; <br />
Tozé Brito&#160;&#160;&#160; &#160;&#160; <br />
Tózé Martinho&#160;&#160;&#160; &#160;&#160; <br />
Urbano Tavares Rodrigues&#160;&#160;&#160; &#160;&#160; <br />
Valter Vinagre&#160;&#160;&#160; &#160;&#160; <br />
Vasco Graça Moura&#160;&#160;&#160; &#160;&#160; <br />
Vasco Ribeiro Casais&#160;&#160;&#160; &#160;&#160; <br />
Virgílio Castelo&#160;&#160;&#160; &#160;&#160; <br />
Viriato Teles&#160;&#160;&#160; &#160;&#160; <br />
Vitor Joaquim&#160;&#160;&#160; &#160;&#160; <br />
Vitorino Salomé&#160;&#160;&#160; &#160;&#160; <br />
Viviane&#160;&#160;&#160; &#160;&#160; <br />
Xana Abreu&#160;&#160;&#160; &#160;<br />
<br />
<b><br />
Contacto: </b>secretariado.administracao@spautores.pt<br />
<br />
Lisboa, 15 de Fevereiro de 2012<br type="_moz" /></p><br />
  			  			  			
  			  			
  					</div>
		<div class="clear"></div>
